@media screen and (max-width: 600px) {
  .m-w-80 {
    width: 80%;
  }
  .m-w-96 {
    width: 96%;
  }

  .m-w-100 {
    width: 100%;
  }
  .m-px-1 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .m-px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .m-margin-0 {
    margin-right: 0;
    margin-left: 0;
  }
  .m-mt-1 {
    margin-top: 1rem;
  }

  .optionButton:hover {
    transform: scale(1);
    padding-left: 0;
    padding-right: 0;
  }
  .list {
    flex-direction: column;
    height: auto;
  }
  .items:nth-child(1) {
    border-top: 1px solid rgba(255, 255, 255, 0.555);
  }
  .items {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    text-align: center;
    margin-right: 0px;
    padding: 20px 0;
  }

  .m-grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .m-d-none {
    display: none;
  }
  .m-d-block {
    display: block;
  }
  .mobileSchoolDetail {
    display: block;
    width: 98%;
  }
  .mobileSchoolImage {
    width: 400px;
  }
}
